@font-face {
  font-family:"OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.btn {
  width: 146px;
  height: 30px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.page-header {
  background-color: #e9e9f1;
  position: relative;
}

.page-header__contacts-list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
    .page-header__contacts-list {
    display: flex;
    justify-content: flex-end;
  }
}

.page-header__contacts-item--clock {
  display: none;
}

@media (min-width: 768px) {
    .page-header__contacts-item--clock {
    display: block;
  }
}

.page-header__contacts-item--address {
  display: none;
}

@media (min-width: 768px) {
  .page-header__contacts-item--address {
    display: block;
  }
}

.logo {
  display: none;
}

@media (min-width: 768px) {
  .logo {
  display: block;
  }
}

.page-header__buy {
  display: none;
}

@media (min-width: 1200px) {
  .page-header__buy {
    display: block;
  }
}

.page-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
  }
}

.main-nav__item {
  
}


.page-header__menu-socials {
  display: flex;
}

.page-header__menu-social-list {
  display: flex;
}



@media (min-width: 768px) {
  .page-header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*promo*/

.promo {
  background-image: url(../img/bg_promo.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 40px;
  background-size: cover;
  padding-bottom: 40px;
}

.promo__inner {
  padding-right: 15px;
  padding-left: 15px;
}

.promo__title {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
/*  padding-bottom: 30px;
  padding-top: 40px;*/
}

.promo__descr--view-xs {
  display: inline-block;
  margin-top: 30px;
  font-family: 'OpenSans';
  font-weight: normal;
  font-size: 18px;
  /*width: 210px;*/
  line-height: 35px;
}
.promo__descr--view-md {
  display: none;
}

@media (min-width: 768px) {
  .promo__descr--view-xs {
    display: none;
  }
  .promo__descr--view-md {
    display: block;
  }
}

.promo_buy--btn {
  background-color: transparent;
}

.promo_buy--btn a {
  text-decoration: none;
  color: #000;
}

/*trails*/

.trails {
  background-image: url(../img/bg_trails_320.png);
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 130px;
}

.trails__title {
  color : #fefefe;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 65px;
}

/*@media (min-width: 768px) {

}*/

.trail-card {
  width: 215px;
  height: 320px;
  background-color: #56616b;
  margin: 0 auto;
  text-align: center;
}

.trail-card__title{
  color: #c7c7d3;
  font-size: 30px;
  padding-top: 30px;
}

.trail-card__list {
  padding: 0;
  list-style-type: none;
}

.trail-card__list-item {
  font-family: "OpenSans";
  color: #f9f9f9;
  font-size: 16px;
}

.trail-card__visual {
  display: none;
}

@media (min-width: 768px) {
  .trail-card__visual {
  display: block;
  }
}

.trail-card__descr {
  font-family: "OpenSans";
  color: #f9f9f9;
  font-size: 16px;
}

/*offers*/

.offer__inner {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;  
}

.offer__title {
  position: absolute;
  top: -100px;
  left: 85px;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
}

.offer-card {
  position: relative;
  height: 255px;
  width: 295px;
  margin: 5px 0px;
  background-repeat: no-repeat;
}

.offer-card__descr {
  position: absolute;
  bottom: 25px;
  left: 15px;
  font-size: 24px;
  color: #fefefe;
}

/*about*/
.about__inner {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #000;
  opacity: 0.5;
}

.about__title {
  color : #fefefe;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 65px;
}

.about__descr {
  font-family: "OpenSans";
  font-size: 14px;
  color: #fffffe;
}