@font-face {
  font-family:"OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Light.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Regular.woff);
  font-weight: 400;
  font-style: normal;
}


.container {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.page-header__inner {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

.btn {
  width: 146px;
  height: 30px;
  border: 1px solid #000;
  box-sizing: border-box;
}
.page-header {
  background-color: #e9e9f1;
  position: relative;
}

.page-header__contacts-list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
    .page-header__contacts-list {
    display: flex;
    justify-content: flex-end;
  }
}

.page-header__contacts-item--clock {
  display: none;
}

@media (min-width: 768px) {
    .page-header__contacts-item--clock {
    display: block;
  }
}

.page-header__contacts-item--address {
  display: none;
}

@media (min-width: 768px) {
  .page-header__contacts-item--address {
    display: block;
  }
}

.page-header__contacts-item--phone-link {
  text-decoration: none;
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
  color: #000;
}


.logo {
  display: none;
}

@media (min-width: 768px) {
  .logo {
  display: block;
  }
}

.page-header__buy {
  display: none;
}

@media (min-width: 1200px) {
  .page-header__buy {
    display: block;
  }
}

.page-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

@media (min-width: 768px) {
  .main-nav__list {
    flex-direction: row;
  }
}

.main-nav__list {
  padding-left: 0;
  text-align: center;
}

.main-nav__link {
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  text-decoration: none;
}


.page-header__menu-socials {
  display: flex;
}

.page-header__menu-social-list {
  display: flex;
}



@media (min-width: 768px) {
  .page-header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*promo*/

.promo {
  background-image: url(../img/bg_promo.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 40px;
  background-size: cover;
  padding-bottom: 40px;
}

.promo__inner {
  padding-right: 15px;
  padding-left: 15px;
}

.promo__title {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 800;
/*  padding-bottom: 30px;
  padding-top: 40px;*/
}

.promo__descr--view-xs {
  display: inline-block;
  margin-top: 30px;
  font-family: 'OpenSans';
  font-weight: normal;
  font-size: 18px;
  /*width: 210px;*/
  line-height: 35px;
}
.promo__descr--view-md {
  display: none;
}

@media (min-width: 768px) {
  .promo__descr--view-xs {
    display: none;
  }
  .promo__descr--view-md {
    display: block;
  }
}

.promo_buy--btn {
  background-color: transparent;
}

.promo_buy--btn a {
  text-decoration: none;
  color: #000;
}

/*trails*/

.trails {
  background-image: url(../img/bg_trails_320.png);
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 130px;
}

.trails__title {
  font-family: 'ProximaNova', sans-serif;
  font-weight: 800;
  color : #fefefe;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 65px;
}

/*@media (min-width: 768px) {

}*/

.trail-card {
  width: 215px;
  height: 320px;
  background-color: #56616b;
  margin: 0 auto;
  text-align: center;
}

.trail-card__title{
  color: #c7c7d3;
  font-size: 30px;
  padding-top: 30px;
}

.trail-card__list {
  padding: 0;
  list-style-type: none;
}

.trail-card__item {
  font-family: "OpenSans";
  color: #f9f9f9;
  font-size: 16px;
}

.trail-card__item:before {
  content: '';
  display: block;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}

.trail-card__icon--mountain:before {
  width: 35px;
  height: 22px;
  background-position: -26px -79px;
  margin: auto;
}

.trail-card__icon--avatar:before {
  width: 24px;
  height: 27px;
  background-position: -5px -5px;
  margin: auto;
}

.trail-card__visual {
  display: none;
}

@media (min-width: 768px) {
  .trail-card__visual {
  display: block;
  }
}

.trail-card__descr {
  font-family: "OpenSans";
  color: #f9f9f9;
  font-size: 16px;
}

/*offers*/

.offer__inner {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;  
}

.offer__title {
  font-family: 'ProximaNova', sans-serif;
  font-weight: 800;
  position: absolute;
  top: -100px;
  left: 85px;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
}

.offer-card {
  position: relative;
  height: 255px;
  width: 295px;
  margin: 5px 0px;
  background-repeat: no-repeat;
}

.offer-card__descr {
  position: absolute;
  bottom: 25px;
  left: 15px;
  font-size: 24px;
  color: #fefefe;
}

/*about*/
.about__inner {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #000;
  opacity: 0.5;
}

.about__title {
  font-family: 'ProximaNova', sans-serif;
  font-weight: 800;
  color : #fefefe;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 65px;
}


.about__descr {
  font-family: "OpenSans";
  font-size: 14px;
  color: #fffffe;
}

.about__descr:before {
  content: '';
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}

.about__descr-rope:before {
  width: 57px;
  height: 58px;
  background-position: -197px -5px;
  margin: auto;
}

.about__descr-sign:before {
  width: 57px;
  height: 58px;
  background-position: -197px -73px;
  margin: auto;
}

.about__descr-question:before {
  width: 57px;
  height: 58px;
  background-position: -104px -114px;
  margin: auto;
}

/*gallery*/

.gallery__inner {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.gallery__slick {
  width: 215px;
  margin: 0 auto;
}

.gallery__photo {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  
  .gallery__inner {
    width: 768px;
  }

  .gallery__slick {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0;
  }

  .gallery__item {
    width: 243px;
  }
}

@media (min-width: 1280px) {
  .gallery__inner {
    width: 1280px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .gallery__item {
    width: 360px;
  }
}

/*prices*/
.prices__inner {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: -100px;
}

.price__title {
  font-family: 'ProximaNova', sans-serif;
  font-weight: 800;
  color : #000;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 70px;
}

.price__tabs {
  font-family: 'OpenSans';
  font-weight: 400;
  color: #000;
  font-size: 16px;
  padding-bottom: 60px;
  text-align: center;
}

.price__tab-age {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 24px;
}

.price__tab-place {
  border-bottom: 1px solid #000;
  padding: 24px;
}

.price__tab-time {
  border-bottom: 1px solid #000;
  padding: 24px;
}

.price__tab-fin-price {
  text-align: left;
  padding: 24px;
  background-color: #f1f1f1;
}

.price__tab-info {
  font-size: 10px;
  text-transform: uppercase;
  text-align: justify;
}

.price__info-btns{
  display: block;
  text-align: center;
}

.price__buy {
  width: 200px;
  height: 50px;
  background-color: #932626;
  color: #e9d3d3;
  text-transform: uppercase;
  padding: 15px 35px 20px 40px;
}

.pdf-link {
  display: block;
  font-family: 'OpenSans';
  font-size: 14px;
  color: #22313f;
  padding-top: 15px;
}

/*review*/

.review{
  background-image: url(../img/bg_review.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 40px;
}

.review__inner {
  padding-left: 15px;
  padding-right: 15px;
}

.review__block {
  background-color: rgba(211, 210, 211, 0.7);
}

.review__title {
  font-family: 'ProximaNova', sans-serif;
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
}

.review__item {
  width: 290px;
/*  height: 560px;*/
}

.review__item-avatar {
  display: block;
  width: 155px;
  margin: 0 auto;
  border-radius: 50%;
}

.review__item-name {
  display: block;
  text-align: center;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.review__item-name-descr {
  display: block;
  text-align: center;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
}

.review__text {
  display: block;
  width: 190px;
  margin: 0 auto;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
/*  padding-bottom: 120px;*/
}

.review__social-icons {
  list-style: none;
  padding-left: 0;
  display: block;
  text-align: center;
}

.review__social-icons-item {
  display: inline-block;
  margin: 0 auto;
  padding-right: 5px;
}

.review__social-icons:before {
  content: '';
  display: block;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}

.review__social-icons--vk:before {
  width: 28px;
  height: 18px;
  background-position: -214px -166px;
  margin: auto;
}

.review__social-icons--insta:before {
  width: 21px;
  height: 21px;
  background-position: -68px -5px;
  margin: auto;
}

/*footer*/
.page-footer {
  background-color: #22313f;
}

.page-footer__inner {
  padding-right: 15px;
  padding-left: 15px;
}

.page-footer__contacts-wrap {
  font-family: 'ProximaNova';
  font-weight: 300;
  font-size: 14px;
  color: #dadae7;
}


.page-footer__contacts:before {
  content: '';
  display: inline-block;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}

.page-footer__contacts-address:before {
  width: 11px;
  height: 16px;
  background-position: -5px -79px;
  margin: auto;
}

.page-footer__contacts-phone:before {
  width: 14px;
  height: 14px;
  background-position: -104px -79px;
  margin: auto;
}

.page-footer__menu-list ul {
  list-style: none;
  padding-left: 0;
}

.page-footer__menu-item a {
  font-family: 'ProximaNova';
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-decoration: none;
  color: #dadae7;
}

.page-footer__menu-socials {
  list-style: none;
  display: inline-block;
  padding-right: 5px;
}

.page-footer__menu-socials ul {
  padding-left: 0;
}

.page-footer__menu-socials:before {
  content: '';
  display: block;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}

.page-footer__menu-socials--tw:before {
  width: 22px;
  height: 18px;
  background-position: -65px -141px;
  margin: auto;
}

.page-footer__menu-socials--vk:before {
  width: 25px;
  height: 15px;
  background-position: -214px -141px;
  margin: auto;
}

.page-footer__menu-socials--insta:before {
  width: 19px;
  height: 19px;
  background-position: -39px -5px;
  margin: auto;
}


